<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontAwesome -->
  <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <!-- CSS -->
  <link rel="stylesheet" href="stylesheets/reset.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>truthPost</title>
</head>
<body>
  <header class="header">
    <div class="title">
      <h1>truthPost</h1>
    </div>
    <nav>
      <ul class="menu">
        <% if(!isAuth){ %>
        <li class="menu-item"><a href="/signup">Sign up</a></li>
        <li class="menu-item"><a href="/login">Log in</a></li>
        <% }else{ %>
        <li class="menu-item"><a href="/logout">Log out</a></li>
        <% } %>
      </ul>
    </nav>
  </header>