<%- include('./header') %>
<main class="common-main">
    <section class="common-section">
        <div class="common-section__wrapper">
            <a href="/login" class="common-btn">Log in</a>
            <a href="/signup" class="common-btn">Sign up</a>
        </div>
    </section>
    <aside class="common-sidebar">
        <div class="common-sidebar__desc">
            <h2>Welcome to <span>Micropost</span></h2>
            <p>Feel free to post</p>
        </div>
    </aside>
</main>
