<%- include( './header' ) %>   
<main class="common-main">
    <section class="common-section">
        <div class="common-section__wrapper">
            <form action="#" method="post" class="common-form">
                <div class="form-group">
                    <label for="mail">メールアドレス</label>
                    <input type="mail" value="<%= form.mail %>" name="mail" id="mail" disabled="disabled">
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" value="<%= form.password %>" name="password" id="password" disabled="disabled">
                </div>
                <div class="form-group form-group__upload">
                    <img src="../uploads/<%= form.img %>" alt="ユーザアイコン" id="image">
                </div>
            </form>
            <div class="password-forget">
                <a href="/edit">プロフィールを編集する</a>
            </div>
        </div>
    </section>
    <aside class="common-sidebar">
        <div class="common-sidebar__desc">
            <h2>Welcome to <span>Micropost</span></h2>
            <p>Your profile</p>
        </div>
    </aside>
</main>