<%- include('./header') %>
<main class="common-main">
    <section class="common-section">
        <div class="common-section__wrapper">
            <form action="/reset" method="post" class="common-form">
                <div class="form-group">
                    <label for="mail">メールアドレス</label>
                    <input type="mail" value="" name="mail" id="mail">
                </div>
                <span><%= errors %></span>
                <div class="form-group">
                    <label for="mail">パスワード</label>
                    <input type="mail" value="" name="mail" id="mail">
                </div>
                <span><%= errors %></span>
                <div class="form-group">
                    <label for="mail">パスワード確認</label>
                    <input type="mail" value="" name="mail" id="mail">
                </div>
                <input type="hidden" value="token" name="token">
                <input type="submit" value="Reset" class="common-btn">
                <span><%= success %></span>
            </form>
        </div>
    </section>
    <aside class="common-sidebar">
        <div class="common-sidebar__desc">
            <h2>Welcome to <span>Micropost</span></h2>
            <p>Reset Page</p>
        </div>
    </aside>
</main>
