<%- include("./header"); %>
  <aside class="sidebar">
    <article class="sidebar-inner">
      <section class="user-area">
        <div class="user-icon">
          <img src="images/user-icon.png" alt="user-icon">
        </div>
        <div class="user-detail">
            <h2 id="username">taic-dev</h2>
            <p><a href="/">profile<img src="images/new-window.png" alt="new-window"></a></p>
        </div>
      </section>
      <section class="post-area">
        <form action="/top" method="post">
          <textarea name="text" id="" cols="30" rows="10" placeholder="new micropost"></textarea>
          <input type="submit" value="post">
        </form>
      </section>
    </article>
  </aside>
  <main class="micropost-main">
    <section class="archive-area">
      <ul class="archive-list">
        <% microposts.forEach((value)=> { %>
          <li class="archive-item">
            <div class="archive-item__user">
              <img src="images/user-icon.png" alt="user-icon">
              <p><span>taic-dev</span></p>
            </div>
            <div class="archive-item__status">
              <input type="submit" value="edit">
              <input type="submit" value="delete">
            </div>
            <div class="archive-item__post">
            <p><%= value.message %></p>
            <time>
              <%= 
                value.created_at.getFullYear()+"/"
                +(value.created_at.getMonth()+1)+"/"
                +value.created_at.getDate();
              %>
            </time>
          </div>
        </li> 
        <% }); %>
      </ul>
    </section>
  </main>
  <script src="javascripts/index.js"></script>
</body>
</html>