:root{
  --main-color: #4ca1af;
  --sub-color: #c4e0e5;

  --main-text-color: #fff;
  --sub-text-color: #000;

  --main-bg-color: #333;
  --sub-bg-color: #fff;

  --message-error: red;
  --bg-error: #FFEBE8;
  --message-success: green;
  --bg-success: #DBFFDB;
}


body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Zen Maru Gothic', sans-serif;
}

/* common */
.common-main{
   display: flex;
   height: 100vh;
}

.common-section{
  position: relative;
  max-width: 480px;
  width: 100%;
  padding-top: 300px;
  overflow: scroll;
}

.common-section__wrapper{
  margin: auto;
  width: 80%;
}

.common-sidebar{
  position: relative;
  width: calc(100vw - 480px);
  background-color: var(--main-color);
}

.common-sidebar__desc{
  position: absolute;
  top: 30%;
  left: 100px;
  z-index: 1;

  color: var(--main-text-color);
}

.common-sidebar__desc h2{
  position: relative;
  font-size: clamp(20px,3.3vw,50px);
  font-weight: normal;
}

.common-sidebar__desc h2::before{
  position: absolute;
  top: -70px;
  left: -100px;
  z-index: -1;

  width: 300px;
  content: url('../images/top.svg');
}

.common-sidebar__desc span{
  font-weight: bold;
}

.common-sidebar__desc p{
  font-size: clamp(13px,3.3vw,20px);
}

.common-section__wrapper a:first-child{
  margin-bottom: 80px;
}

.common-btn{
  display: block;
  margin: auto;
  padding: 15px 60px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: var(--main-text-color);
  background: var(--main-color);
  transition: 0.5s;
  /* background: -moz-linear-gradient(left, var(--main-color), var(--main-text-color));
  background: -webkit-linear-gradient(left, var(--main-color), var(--main-text-color));
  background: linear-gradient(to right, var(--main-color), var(--main-text-color)); */
}

.common-btn:hover{
  background: var(--sub-color);
  transition: 0.5s;
}


.success-message{
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 12px;
  color: var(--message-success);
  background: var(--bg-success);
}

.error-message{
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 12px;
  color: var(--message-error);
  background: var(--bg-error);
}

.common-title h2{
  text-align: center;
  margin: 100px 0;

  font-size: 25px;
  font-weight: bold;
}

/* header */

.header{
  width: 480px;
  height: 60px;
  padding: 0 20px;
  color: var(--sub-text-color);
  background: var(--sub-bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.title a{
  color: #000;
  text-decoration: none;
}

.menu{display: flex;}
.menu>*{margin-left: 15px;}
.menu-item a{color: #000; text-decoration: none;}

/* login / signup */
input{
  outline: none;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;
}

.form-group{
  margin-bottom: 50px;
}

.form-group input{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-bottom: solid 1.5px var(--main-bg-color);
}

.form-group input:focus{
  border-bottom: solid 2px var(--main-color);
}

.form-group img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.signup-form{
  padding-bottom: 50px;
}

.form-group__upload{
  text-align: center;
}

.password-forget{
  margin-top: 50px;
  text-align: center;
}

/* top */
.user-area{
  display: flex;
  align-items: center;
}
.user-icon{
  width: 70px;
   margin-right: 20px;
}
.user-icon img{width: 100%;}

.user-detail h2{
  font-size: 30px;
  margin-bottom: 5px;
}
.user-detail img{
  width: 15px;
  margin-left: 5px;
}

.post-area form{
  width: 100%;
}

.post-area textarea{
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
  width: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
  line-height: 1.5;
}

.post-area input{
  width: 100%;
  margin: 10px 0;
}

.post-area input:last-child{
  padding: 10px;
  display: block;
  border-radius: 5px;
  text-align: center;
  color: var(--main-text-color);
  background: var(--main-color);
}

.archive-sidebar{
  background: var(--sub-bg-color);
  overflow: scroll;
}

.archive-sidebar__desc{
  position: unset;
  margin: 0 15px;
}

.archive-item{
  margin: 10px 0;
  border-bottom: 1px solid #000;
}

.archive-item__wrapper{
  display: flex;
  justify-content: space-between;
}

.archive-item__user{
  display: flex;
  align-items: center;
  color: var(--sub-text-color);
}
.archive-item__user img{
  width: 50px;
  margin-right: 20px;
}

.archive-item__status{margin-top: 20px;}
.archive-item__status input{
  width: 80px;
  padding: 5px;
  color: #fff;
  background: #000;
  text-align: center;;
  border-radius: 5px;
}

.archive-item__post{
  margin-top: 20px;
  color: var(--sub-text-color);
  word-break: break-all ;
}

.archive-item__post p{
  font-size: 14px;
  line-height: 1.5;
}

.archive-item__post time{
  display: block;
  text-align: right;
  margin: 10px 0;
  font-size: 10px;
}

/* edit */
.delete-btn{
  margin-top: 50px;
  background: #000;
}

.delete-btn:hover{
  background: #000;
  opacity: 0.5;
}

.footer{
  text-align: center;
  padding: 20px;
  color: var(--main-text-color);
  background: var(--main-bg-color);
}


@media screen and (max-width:900px) {
  .wrapper,.edit{
    display: block;
    max-width: 540px;
  }
  .sidebar,.micropost-main{width: auto;}
  .mypage-main,.mypage-sidebar{width: 100%;}

  /* edit */
  .edit-form__list{
    display: block;
  }

  .edit-from__group{
    height: 60px;
  }

  .edit-form__item{
    width: 100%;
  }
  .edit-form__item:last-child{
    margin-top: 50px;
  }
  .edit-form__img img{
    margin-bottom: 20px;
  }
}