:root{
  --main-color: #6C63FF;
  --sub-color: #6DBBDE;

  --main-text-color: #fff;
  --sub-text-color: #000;

  --main-bg-color: #333;
  --sub-bg-color: #fff;
}


body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

main{
  margin-top: 60px;
}

.header{
  height: 60px;
  padding: 0 20px;
  color: var(--main-text-color);
  background: var(--main-bg-color);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.menu{display: flex;}
.menu>*{margin-left: 15px;}
.menu-item a{color: white; text-decoration: none;}

/* top */
.top-main,.login-main,.signup-main{
  position: relative;
  height: calc(100vh - 60px);
}

.top-fv,.login-fv,.signup-fv{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%); 
  text-align: center;
}
.top-title h2,.login-main h2,.signup-main h2{
  font-size: 100px;
  font-weight: bold;
}

.top-btn{
  margin: 60px 0;
  display: flex;
  justify-content: center;
}

.top-btn li a,.login-btn,.signup-btn{
  color: var(--main-text-color);
  background: var(--main-bg-color);
  margin: 20px;
  padding: 13px 30px;
  border-radius: 5px;
  text-decoration: none;
}

/* login */
.login-form,.signup-form{
  width: 300px;
  margin: 50px auto;
}

.form-group{
  position: relative;
  margin: 50px 0;
}

.form-group label{
  color: var(--main-text-color);
  background: var(--main-bg-color);
  display: block;
  width: 180px;
  padding: 3px;
  border-radius: 5px;

  position: absolute;
  top: 0;
  left: 5px;
}

.form-group input{
  width: 100%;
  height: 30px;
  text-align: left;
  margin-top: 20px;
  padding: 0 10px;
  border: solid 1px;
  border-radius: 5px;
}

.wrapper{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  margin-top: 60px;
}

.sidebar{
  position: sticky;
  top: 0;
  width: 40%;
  height: 100%;
  margin: 0 20px;
  margin-top: 50px;
  padding: 10px 0;
  background: var(--sub-bg-color);
}


.user-area{
  display: flex;
  align-items: center;
}
.user-icon{
  width: 70px;
   margin-right: 20px;
}
.user-icon img{width: 100%;}

.user-detail h2{
  font-size: 30px;
  margin-bottom: 5px;
}
.user-detail img{
  width: 15px;
  margin-left: 5px;
}

.post-area form{
  width: 100%;
}

.post-area textarea{
  border: 1px solid #000;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
  height: 150px;
  margin: 20px 0;
  padding: 10px;
}

.post-area input{
  width: 100%;
  margin: 10px 0;
}

.post-area input:last-child{
  padding: 10px;
  display: block;
  border-radius: 5px;
  text-align: center;
  color: var(--main-text-color);
  background: var(--main-color);
}

.micropost-main{
  width: 60%;
  margin: 0 20px;
}

.archive-item{
  margin: 10px 0;
  border-bottom: 1px solid #000;
}

.archive-item__user{
  display: flex;
  align-items: center;
}
.archive-item__user img{
  width: 50px;
  margin-right: 20px;
}

.archive-item__status{margin-top: 20px;}
.archive-item__status input{
  width: 80px;
  padding: 5px;
  color: #fff;
  background: #000;
  text-align: center;;
  border-radius: 5px;
}

.archive-item__post{
  margin-top: 20px;
  word-break: break-all ;
}

.archive-item__post time{
  display: block;
  text-align: right;
  margin: 10px 0;
  font-size: 10px;
}

@media screen and (max-width:900px) {
  .wrapper{
    display: block;
    max-width: 540px;
  }
  .sidebar,.micropost-main{width: auto;}
}